<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-2.5.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd"
	default-lazy-init="false">
	
		<bean id="jade.dataSource.com.renren.profile"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
			<property name="url"
			value="jdbc:mysql://localhost:3306/who"></property>
			 <property name="username" value=""></property> 
			<property name="password" value=""></property>
		 </bean>

<!-- 	<bean id="jade.dataSource.com.renren.profile" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close" lazy-init="true">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		 	 
		<property name="maxActive" value="40" />  
        <property name="initialSize" value="10" />  
        <property name="maxWait" value="60000" />  
        <property name="maxIdle" value="15" />  
        <property name="minIdle" value="5" /> 
        
        <property name="timeBetweenEvictionRunsMillis" value="3600000" />  一小时跑一次 evict()
		<property name="validationQuery" value="select 1" />  一小时跑一次 evict() 
		<property name="numTestsPerEvictionRun" value="-1" />在 evict()中，测试pool.size()个连接
		<property name="testWhileIdle" value="true" />在 evict()中，测试空闲的连接
		<property name="minEvictableIdleTimeMillis" value="7200000" />在 evict()中，销毁空闲了2小时的连接 
		
		<property name="url" value="jdbc:mysql://localhost/profile" />
		<property name="username" value="profile" />
		<property name="password" value="}vM0*4c2e#I7r#/S" />
	</bean> -->

</beans>
